# Nettoyage de la table RealGdp.xls

In [2]:
import os
import numpy as np
import pandas as pd

In [20]:
#On utilisera data_directory pour aller chercher nos données
wd=os.getcwd()    #votre dossier local (qui est un clone du repo du groupe) a son nom bien à lui. 
data_directory = wd+"\\Donnees" 
data_directory

'C:\\Users\\tayoy\\Documents\\GitHub\\Statapp-Macroeconomie\\Donnees'

In [25]:
file="RealGDPYanis.xls"
pthfile=data_directory+"\\\\"+"RealGDP_SansHeaders.xls"

In [27]:
df = pd.read_excel(io=pthfile,index_col = 0 ,usecols = "A:IU",header=0)
# print(df.head(5))  # print first 5 rows of the dataframe
# type(df)

In [29]:
df.head()

,Scale,Base Year,1959Q1,1959Q2,1959Q3,1959Q4,1960Q1,1960Q2,1960Q3,1960Q4,...,2019Q3,2019Q4,2020Q1,2020Q2,2020Q3,2020Q4,2021Q1,2021Q2,2021Q3,2021Q4
Country,,,,,,,,,,,,,,,,,,,,,
Argentina,Millions,2004,...,...,...,...,...,...,...,...,...,174572.3,171627.6,164382.9,139968.8,156641.6,163301.7,169125.2,168080.6,174578.4,177426.6
Australia,Millions,2019/2020,...,...,62496,63043,67915,69794,69950,69812,...,502686,505283,504144,468753,485131,501813,511583,514593,505177,524644
Austria,Millions,2010,...,...,...,...,...,...,...,...,...,84878.089558,84490.336236,82322.494494,73066.329796,81273.666771,79734.73078,78915.891427,82214.082169,85658.134642,84562.481251
Belgium,Millions,2010,...,...,...,...,...,...,...,...,...,103931.713843,104596.405299,101298.977894,89512.092621,100159.241216,100043.966054,101361.263667,103095.968922,105262.956032,105711.971379
Brazil,Millions,1995,...,...,...,...,...,...,...,...,...,301480.3,302538.6,295396.1,268914.9,290403.7,299623.4,302822.6,301977,302156.5,304497.9

In [113]:
print(df.columns)
print(df.index)

Index(['Scale', 'Base Year', '1959Q1', '1959Q2', '1959Q3', '1959Q4', '1960Q1',
       '1960Q2', '1960Q3', '1960Q4',
       ...
       '2019Q3', '2019Q4', '2020Q1', '2020Q2', '2020Q3', '2020Q4', '2021Q1',
       '2021Q2', '2021Q3', '2021Q4'],
      dtype='object', length=254)
Index(['Argentina', 'Australia', 'Austria', 'Belgium', 'Brazil', 'Bulgaria',
       'Canada', 'Chile', 'China, P.R.: Hong Kong', 'Colombia', 'Costa Rica',
       'Croatia, Rep. of', 'Cyprus', 'Czech Rep.', 'Denmark', 'Ecuador',
       'El Salvador', 'Estonia, Rep. of', 'Euro Area', 'Finland', 'France',
       'Germany', 'Greece', 'Honduras', 'Hungary', 'India', 'Indonesia',
       'Ireland', 'Israel', 'Italy', 'Japan', 'Jordan', 'Korea, Rep. of',
       'Latvia', 'Lithuania', 'Luxembourg', 'Malta', 'Mexico',
       'Moldova, Rep. of', 'Netherlands, The', 'New Zealand', 'Norway',
       'Philippines', 'Poland, Rep. of', 'Portugal', 'Romania',
       'Russian Federation', 'Saudi Arabia', 'Serbia, Rep. of', 'Singapore',
       'Slovak Rep.', 'Slovenia, Rep. of', 'South Africa', 'Spain', 'Sweden',
       'Switzerland', 'Thailand', 'Turkey', 'Ukraine', 'United Kingdom',
       'United States'],
      dtype='object', name='Country')

In [121]:
df.head(5)

,Scale,Base Year,1959Q1,1959Q2,1959Q3,1959Q4,1960Q1,1960Q2,1960Q3,1960Q4,...,2019Q3,2019Q4,2020Q1,2020Q2,2020Q3,2020Q4,2021Q1,2021Q2,2021Q3,2021Q4
Country,,,,,,,,,,,,,,,,,,,,,
Argentina,Millions,2004,...,...,...,...,...,...,...,...,...,174572.3,171627.6,164382.9,139968.8,156641.6,163301.7,169125.2,168080.6,174578.4,177426.6
Australia,Millions,2019/2020,...,...,62496,63043,67915,69794,69950,69812,...,502686,505283,504144,468753,485131,501813,511583,514593,505177,524644
Austria,Millions,2010,...,...,...,...,...,...,...,...,...,84878.089558,84490.336236,82322.494494,73066.329796,81273.666771,79734.73078,78915.891427,82214.082169,85658.134642,84562.481251
Belgium,Millions,2010,...,...,...,...,...,...,...,...,...,103931.713843,104596.405299,101298.977894,89512.092621,100159.241216,100043.966054,101361.263667,103095.968922,105262.956032,105711.971379
Brazil,Millions,1995,...,...,...,...,...,...,...,...,...,301480.3,302538.6,295396.1,268914.9,290403.7,299623.4,302822.6,301977,302156.5,304497.9

In [122]:
df.iloc[:,0]

Country
Argentina         Millions
Australia         Millions
Austria           Millions
Belgium           Millions
Brazil            Millions
                    ...
Thailand          Millions
Turkey            Millions
Ukraine           Millions
United Kingdom    Millions
United States     Millions
Name: Scale, Length: 61, dtype: object